<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>

<h1>My tasks</h1>

  <ul>
    <% @tasks.each do |task| %>
    <li>
        <% if task.completed %>
          <%= "[x]" %>
          <% else %>
          <%= "[ ]" %>
        <!-- <p><%#= @task.completed %></p> -->
          <% end %>
      <h3><%= link_to task.title, show_path(task)%></h3>
      <br>
    </li>
    <% end %>
  </ul>

</body>
</html>
